{% extends "base.html" %}
{% block title %}FAQ • Spooky Experiences{% endblock %}
{% block content %}
  <div class="container py-4">
    <h1 class="mb-4 text-center">Frequently Asked Questions</h1>

    <div class="accordion" id="faqAccordion">
      <div class="accordion-item bg-dark text-light border-secondary">
        <h2 class="accordion-header" id="faq1">
          <button class="accordion-button bg-dark text-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1">
            In the case of an exorcism, do I get a refund?
          </button>
        </h2>
        <div id="collapse1" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
          <div class="accordion-body text-secondary">
            Sorry, we do not return souls!
          </div>
        </div>
    </div>

    <div class="accordion-item bg-dark text-light border-secondary">
        <h2 class="accordion-header" id="faq2">
          <button class="accordion-button bg-dark text-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2">
            Will I get charged extra for blood/ brain/ ectoplasm etc. stains?
          </button>
        </h2>
        <div id="collapse2" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
          <div class="accordion-body text-secondary">
            Not at all! We encourage making a mess of things. Let's give the humans more to scream about!
          </div>
        </div>
    </div>

    <div class="accordion-item bg-dark text-light border-secondary">
      <h2 class="accordion-header" id="faq3">
        <button class="accordion-button bg-dark text-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3">
          Do you cater to specific dietary needs?
        </button>
      </h2>
      <div id="collapse3" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
        <div class="accordion-body text-secondary">
          Of course. We aim to be as inclusive as possible - whatever the bodily fluid or pound of flesh. 
        </div>
      </div>
    </div>

    <div class="accordion-item bg-dark text-light border-secondary">
      <h2 class="accordion-header" id="faq4">
        <button class="accordion-button bg-dark text-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4">
          Are pets welcome?
        </button>
      </h2>
      <div id="collapse4" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
        <div class="accordion-body text-secondary">
          We understand the importance of emotional-support tarantula, familiars and the like to make your stay feel like home, but please check with individual events coordinators
        </div>
      </div>
    </div>

    <div class="accordion-item bg-dark text-light border-secondary">
      <h2 class="accordion-header" id="faq5">
        <button class="accordion-button bg-dark text-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5">
          Do I need to bring my own chains to hauntings?
        </button>
      </h2>
      <div id="collapse5" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
        <div class="accordion-body text-secondary">
          We are happy to include extra heavy chains with all haunting packages.     
        </div>
      </div>
    </div>

    <div class="accordion-item bg-dark text-light border-secondary">
      <h2 class="accordion-header" id="faq6">
        <button class="accordion-button bg-dark text-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6">
          Are all spa products cruelty-included?
        </button>
      </h2>
      <div id="collapse6" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
        <div class="accordion-body text-secondary">
          Only the best, obtained from tortured souls!    
        </div>
      </div>
    </div>

  </div>
{% endblock %}
